.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.fa,
.fa-user-circle {
  margin-right: 4px;
}
.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
